@charset "UTF-8";
@import "~vendor/scss/mixins.scss";

// write your scss code here
.show-btn {
  height: rem(60);
  line-height: rem(60);
  text-align: center;
  font-size: rem(28);

  margin-bottom: rem(10);
  padding:rem(10);
  border-radius: rem(6);

  border: 1px solid #333;
}