@charset "UTF-8";
@import "~vendor/scss/mixins.scss";

.btn-container{
  margin: rem(40);

  .button{
    @include r1-border(#CCC, rem(6));

    font-size: rem(28);
    width: rem(200);
    height: rem(60);
    line-height: rem(60);
    text-align: center;
  }
}